.scrollContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    will-change: transform;
}

.sectionHero {
    justify-content: initial;
}

.sectionLeft {
    padding: 0 62px;
}

.sectionRight {
    text-align: right;
    padding: 0 62px;
}

@media only screen and (max-width: 768px) {

    .sectionLeft {
        padding: 0 8vw;
    }

    .sectionRight {
        padding: 0 8vw;
    }
}

.selected {
    color: var(--color-highlight) !important;
}