@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Averta CY";
    src: url("/fonts/averta-cy/AVERTA CYRILLIC REGULAR.OTF") format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Averta CY";
    src: url("/fonts/averta-cy/AVERTA CYRILLIC BOLD.OTF") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Averta CY";
    src: url("/fonts/averta-cy/AVERTA CYRILLIC LIGHT.OTF") format('opentype');
    font-weight: 300;
    font-style: normal;
}

@layer base {
    html {
        font-family: "Averta CY", system-ui, sans-serif;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

model-viewer {
    --progress-bar-color: red;
}

@media only screen and (max-width: 780px) {
    .hu-model-viewer {
        width: 100vw;
        height: 100vw;
    }

    .hu-product-model-viewer {
        width: 100vw;
        height: 100vw;
    }
}

@media only screen and (min-width: 780px) {
    .hu-model-viewer {
        width: 25vw;
        height: 25vw;
    }

    .hu-product-model-viewer {
        width: 25vw;
        height: 25vw;
    }
}

@media only screen and (max-width: 780px) {
    .modal-box {
        max-height: 100%;
        height: 100%;
        width: 100%;
        max-width: 100%;
    }
}

.vjs-theme-fantasy .vjs-play-progress,
.vjs-theme-fantasy .vjs-play-progress::before {
    background-color: #D63333 !important;
}

@font-face {
    font-family: VideoJS;
    src: url("/videojs-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}