@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Averta CY";
    src: url("/fonts/averta-cy/AVERTA CYRILLIC REGULAR.OTF") format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Averta CY";
    src: url("/fonts/averta-cy/AVERTA CYRILLIC BOLD.OTF") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@layer base {
    html {
        font-family: "Averta CY", system-ui, sans-serif;
    }
}